body {
    background-color: rgb(238, 238, 238);
}

.first img {
    float: right;
}

.second {
    padding: 10px;
}

.first, .second {
    box-shadow: rgba(0, 0, 0, 0.25) ;
}

.second img {
    float: left;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

h1, h3 {
    font-family: Georgia,  serif;
    font-size: 1em;
}

blockquote {
    font-family: Georgia,  serif;
}
a {
    color: rgb(0, 102, 0);
}

img {
    background-color: rgb(255, 255, 255);
    
}